.styletop-container {
  background-color: #315c91;
  padding: 2%;
}

.st-cont h2 {
  color: white;
  font-family: Proxima Nova Alt, sans-serif;
  font-size: 25px;
}


.info-lfsty h1 {
  color: white;
  font-family: Proxima Nova Alt, sans-serif;
  font-size: 22px;
}

.info-lfsty p {
  color: #f09916;
  font-family: Proxima Nova Alt, sans-serif;
  text-transform: uppercase;
}