.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}

.foo-ter {
  text-align: start;
  margin-left: 1%;
}

.img-logo-foo {
  width: 35%;
  margin-left: 0;
  margin-top: 10%;
  margin-bottom: 2%;
}

.foo-ter-nav {
  text-align: start;
  margin-left: 3%;
}

.foo-ter-nav h1 {
  font-family: Proxima Nova Regular, sans-serif;
  font-size: 25px;
}

.nav-item-1,
.nav-link-1 {
  font-family: Proxima Nova Thin, sans-serif;
  font-size: 18px;
  color: white;
}

.p-foot {
  font-family: Proxima Nova Thin, sans-serif;
  font-size: 18px;
  color: white;
}

.icon-margin {
  margin-right: 20%; /* Ajusta el valor según sea necesario */
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .foo-ter {
    text-align: center;
    margin-left: 0;
    margin-top: 5%;
  }

  .img-logo-foo {
    width: 50%;
    margin-top: 5%;
    margin-bottom: 2%;
  }

  .foo-ter-nav {
    text-align: justify;
    margin-left: 0;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .foo-ter-nav h1 {
    font-size: 20px;
  }

  .nav-item-1,
  .nav-link-1 {
    font-size: 16px;
  }
}